<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"mybatis-3-config.dtd">
<configuration>

	<!-- <settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings> -->
	
	<typeAliases>
		<typeAlias alias="User" type="com.mxd.pojo.po.User" />
	</typeAliases>
	
	<environments default="development">
	    <environment id="development">
		<transactionManager type="JDBC" />
			<dataSource type="POOLED">  
                <property name="driver" value="com.mysql.jdbc.Driver" />
			    <property name="url" value="jdbc:mysql:///mybatis01" />
			    <property name="username" value="root" />
			    <property name="password" value="123" />
            </dataSource>
		</environment>
	</environments>

	<mappers>
	     <!--这里的资源是xml文件，如果不写xml就是个class = 接口全限定名   的方式 ,
	     	该方式接口和xml文件要同包放置因为该接口要找其对应的映射文件 -->
	     <mapper resource="com/mxd/dao/UserMapping.xml" />
	     <mapper resource="com/mxd/dao/AddressMapper.xml" />
	     <mapper resource="com/mxd/dao/OrderMapper.xml" />
	</mappers>
</configuration> 